h1 {
  font-size: 24px;
}

.ourGrid {
    margin: 20px auto;
    display: table;
    width: 615px;
    height: 560px;
    padding: 10px;
    background: #0077EE;
    border: 1px solid #0044AA;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-spacing: 5px 5px;
  }

  .ourRow {
    display: table-row;
  }
  
  .cell {
    display: table-cell;
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 2px;
  }

  .header {
    margin: 0 0 15px;
    padding: 15px;
    color: #FFF;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    background-color: #1F90FF;
  }
